body{
font-family: Arial;
text-align: center;
background-color: #f2f2f2;
background-image: url('set-white-clouds_78370-1667.avif');
}

h1{
color: blue;
}

nav a{
margin: 10px;
text-decoration: none;
font-weight: bold;
}
